*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

body{
    max-width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
}

header{
    background-color: #FFFFFF;
    height: 80px;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    font-size: 3em;
    margin-left: 30px;
    color: #0095FE;
}
.nav-list li{
    display: block;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    font-size: 1.3em;

}
.nav-list{
    display: flex;
    gap: 40px;
}
ul{
    margin-right: 25px;
}

#btn-mobile{
    display: none;
}
header a{
    text-decoration: none;
    color: black;
}
#contato{
    width: 100%;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #FDE43F;
}

#contato p {
    margin: 0px 20px;
    color: #267480;
    font-weight: 600;
}
#apresentacao{
    position: relative;
    height: 65vh;
    justify-content: space-evenly;
    background-color: #07a2ba;
}
#apresentacao{
    display: flex;
    align-items: center;
    
}

#text{
    color: white;
    margin-bottom: 50px;
    margin-left: 50px;
    position: absolute;
    right: 50%;
}

#text h1{
    font-size: 3em;
    font-weight: 600;
}
#text p{
    font-size: 2em;
    font-weight: 300;
}

#text h3{
    margin-top: 10px;
    font-size: 2.5em;
    font-weight: 500;
}

#apresentacao img{
    max-height: 66vh;
    max-width: 50%;
    margin-right: 100px;
    position: absolute;
    left: 50%;
    bottom: 0;
}



#beneficios{
    background-color: #FFFFFF;
    text-align: center;
    
}
#beneficios h1{
    font-size: 2.8em;
    padding: 15px;
    text-transform: uppercase;
    color: #07a2ba;
    margin-bottom: 20px;
    margin-top: 20px;
}

#beneficios img{
    height: 50px;
}
#lista{
    text-align: center;
    display: flex;
    justify-content: center;
}
#lista p{
    color: #0095FE;
    font-weight: 700;
}

#card{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    margin: 0px 20px 40px;
}

footer{
    height: 30px;
    background-color: #FDE43F;
    text-align: center;
    color: #0095FE;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a{
    text-decoration: none;
    color: #267480;
}

@media screen and (max-width: 890px) {

    #contato{
        display: none;
    }
    
    #contato p {
        margin: 0px 20px;
        color: #267480;
        font-weight: 600;
    }

#text h1{
    font-size: 2em;
    font-weight: 600;
}
#text p{
    font-size: 1.2em;
    font-weight: 300;
}

#text h3{
    margin-top: 10px;
    font-size: 1.4em;
    font-weight: 500;
}



nav{
    margin-right: 10px;
}
.nav-list{
    display: block;
    position: absolute;
    width: 50%;
    top: 80px;
    right: 0;
    left: auto;
    background-color: #FDE43F;
    z-index: 1000;
    height: auto;
    transition: .4s;
    visibility: hidden;
    overflow-y: hidden;
   
}
ul{
    margin: 0;
}
#nav.active .nav-list{
    height: calc(100vh - 60px);
    visibility: visible;
    /*overflow-y: auto;*/
}

.nav-list li{
    padding: 10px 0px;
    margin-right: 40px;
    border-bottom: 2px solid #267480;
}
#btn-mobile{
    display: flex;
    padding: .5rem 10px ;
    border: none;
    color: #E7E4E4;
    background-color: #0095FE;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
#btn-mobile:hover{
    font-weight: bold;
    color:#0095FE;
    background-color:#FDE43F;
}

}
@media screen and (max-width: 700px){
    #apresentacao img{
        max-height: 100%;
        width: 100vw;
        margin-right: 100px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    #text{
        color: white;
        position: static;
        margin: 0px 0px;
        padding: 20px;
    }
    #apresentacao{
        display: block;
        align-items: center;
        
    } 
    #beneficios h1{
        font-size: 2em;
    }
}