*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    max-width: 100vw;
    height: 100vh;
    background-color: #07a2ba;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
main{
    border-radius: 20px;
    text-align: center;
    width: 430px;
    height: 450px;
    background-color: #FFFFFF;
}
#info{
    text-align: left;
    margin: auto;
    width: 270px;
}
label{
    margin-left: 4px;
}

h1{
    font-size: 2.3em;
    margin: 35px 0px 2px 0px;
    font-weight: 800;
    color: #01bbd8;
}
h2{
    margin: 0px 0px 13px 0px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#email, #senha, #user{
    background-color:#DEDCDC;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    display: block;
    margin: 5px auto;
    width: 270px;
    height: 35px;
}

#entrar, #cadastrar{
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    color: #FFFFFF;
    background-color:#00D0EE;
    height: 35px;
    width: 250px;

}

p > a{
    text-decoration: none;
    color: #0095FE;
    font-weight: 500;
}